<div class="hero-unit" style="background: url('/img/bin_<%= bin.id %>.jpg') no-repeat; background-size: 100%">
    <h1 class="bin-name" style="color:white"><%= bin.name %></h1>
</div>

<div class="row">
    <div class="span6 bin-summary-bottles">
      <h2><span id="counter"></span></h2>
        <p>
             botellas de pl&aacute;stico
        </p>
    </div>
    <div class="span6 bin-summary-trees">
      <h2><span id="counter"></span></h2>
        <p>
            has de bosques
        </p>
    </div>
</div>

<script type="text/javascript"/>
function reload_data() {
    $.ajax({
        type: "GET",
        url: "/bin/<%= bin.id %>",
        dataType: "json",
        success: function(data) {
            $("span#counter").text(data.count);
        },
        error: function(response) {
            console.log("Error:" + response.responseText);
        }
    });
}

$(document).ready(function(){
    reload_data();
    setInterval(reload_data, 3000);
});
</script>