<h1><%= bin.name %></h1>
<div id="bin-data">
    <span id="counter"></span>
    <br/>
    <span id="timestamp"></span>
</div>

<script type="text/javascript"/>
function reload_data() {
    $.ajax({
        type: "GET",
        url: "/bin/<%= bin.id %>",
        dataType: "json",
        success: function(data) {
            $("span#counter").text(data.count);
            $("span#timestamp").text(new Date);
        },
        error: function(response) {
            console.log("Error:" + response.responseText);
        }
    });
}

$(document).ready(function(){
    reload_data();
    setInterval(reload_data, 3000);
});
</script>