<div class="hero-unit" style="background: url('/img/bin_<%= bin.id %>.jpg') no-repeat; background-size: 100%; margin-top: 2em;">
    <h1 class="bin-name"><%= bin.name %></h1>
</div>

<div class="row" style="margin-top: 6em;">
    <div class="span5 bin-summary bottles">
      <span id="bottles" class="counter">0</span> kgs
      <br/>
      de botellas
    </div>
    <div class="span2 bin-summary equals">
      =
    </div>
    <div class="span5 bin-summary savings">
      <span id="savings" class="counter">0</span> <span id="savings-metric"></span>
      <br/>
      <span id="savings-subject"></span>
    </div>
</div>

<script type="text/javascript"/>
function reload_data() {
    $.ajax({
        type: "GET",
        url: "/bin/<%= bin.id %>",
        dataType: "json",
        success: function(data) {
            $("span#bottles").text(data.count);
            $("span#savings").text(data.savings);
            $("span#savings-metric").text(data.savings_metric);
            $("span#savings-subject").text(data.savings_subject);
            $("div.savings").css('background', "url('/img/"+data.savings_image+".png') no-repeat top right");
        },
        error: function(response) {
            console.log("Error:" + response.responseText);
        }
    });
}

$(document).ready(function(){
    reload_data();
    setInterval(reload_data, 3000);
});
</script>