<h2>Nuevo Evento</h2>
<form action="/event/new" method="post">
  <fieldset>
    <label>Nombre</label>
    <input name="name" type="text" placeholder="Nombre del evento..." required>
    <label>Description <span class="muted">(opcional)</span></label>
    <input name="description" type="text" class="span6">
    <label>Tachos</label>
    <select name="bins[]" class="chosen" multiple="true">
      <% bins.each do |bin| %>
        <option value="<%= bin.id %>"><%= bin.name %></option>
      <% end %>
    </select>
    <br>
    <button type="submit" class="btn btn-primary">Crear Evento</button>
    <a href="/" class="btn">Cancelar</a>
  </fieldset>
</form>
<link rel="stylesheet" type="text/css" href="/css/chosen.css" />
<script src="/js/chosen.jquery.min.js"></script>
<script>
  $('.chosen').chosen();
</script>
