<div class="container">
    <div class="row">
        <div class="span12" >
            <ul class="thumbnails">
                <% for tacho in tachos %>
                    <li class="span4" type="misc">
                        <div class="thumbnail">
                            <a rel="lightbox" href="mostrar datos">FOTO</a>  
                            <h5>NOMBRE TACHO</h5>
                        </div>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</div>