<div class="container">
    <div class="row">
        <div class="span12" >
            <ul class="thumbnails">
                <% for tacho in tachos %>
                    <li class="span4" type="misc">
                        <div class="thumbnail">
                            <a rel="lightbox" href="bin/<%=tacho%>">
                                <img src="http://placehold.it/350x150" width="350" height="150"/>
                                <h5>Tacho <%=tacho%></h5>
                            </a>  
                        </div>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</div>