<div class="container">
    <div class="row">
        <div class="span12" >
            <ul class="thumbnails">
                <% for tacho in tachos %>
                    <li class="span4" type="misc">
                        <div class="thumbnail">
                            <a rel="lightbox" href="bin/<%=tacho%>">
                                <h1>FOTO</h1>
                                <h5><%=tacho%></h5>
                            </a>  
                        </div>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</div>