<header class="page-header">
  <span>El Tacho!</span>
</header>

<div class="container">
    <div class="row">
        <div class="span12" >
            <ul class="thumbnails">
                <% for bin in bins %>
                    <li class="span4" type="misc">
                        <div class="thumbnail">
                            <a rel="lightbox" href="bin/<%=bin.id%>">
                                <img src="http://placehold.it/350x150" width="350" height="150"/>
                                <h5><%=bin.name%></h5>
                            </a>  
                        </div>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</div>