<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>El Tacho!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="icon" type="image/ico" href="/images/favicon.ico" />
</head>
<body>
    <header>
        <p>Algo tachero</p>
    </header>
    <script src="js/jquery-2.0.0.min.js"></script>
    <content>
        <%= yield %>
    </content>
    <footer>
        <img id="ciudad_verde" src="img/ciudad_verde.png" alt="BA Ciudad Verde"/>
    </footer>
</body>
</html>