
html,
body {
    height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -65px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 65px;
}
#footer {
    text-align: right;
    background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
#footer {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}
}

header {
    font-size: small;
}

div.hero-unit h1.event-name {
    color: white;
}

.description {
    text-align: center;
}

.counter {
    font-size: 6em;
    font-weight: bold;
    color: black;
}

.summary {
    font-family: 'Days One', cursive;
    font-size: 2em;
    text-align: center;
    height: 250px;
    line-height: 1.5em;
    padding:  0;
}

.bottles {
    background: url('/img/bottle.png') no-repeat;
}

.equals {
    padding: 0;
    font-size: 8em;
}